{% extends "OxygenContactBundle::layout.html.twig" %}
{% block body %}
  <h1>Contact information</h1>
  <a href="{{ path('show_contacts') }}">Back to contacts</a>
  <ul>
    <li>Name: {% if contact.title %}{{ contact.title.name }}{% endif %} {{ contact.name }}</li>
    <li>Email: <a href="mailto:{{ contact.email }}">{{ contact.email }}</a></li>
    <li>Telephone: {{ contact.telephone }}</li>
    <li>Company: {{ contact.company }}</li>
  </ul>
  <h2>Message</h2>
  <p>
    {{ contact.message }}
  </p>
{% endblock %}