{% extends "OxygenContactBundle::layout.html.twig" %}
{% block body %}
  <h1>Contact information</h1>
  <a href="{{ path('show_contacts') }}">Back to contacts</a>
  <ul>
    <li>Name: {{ contact.title.name }} {{ contact.name }}</li>
    <li>Email: <a href="mailto:{{ contact.email }}">{{ contact.email }}</a></li>
  </ul>
  <h2>Message</h2>
  <p>
    {{ contact.message }}
  </p>
{% endblock %}